[user]
	email = mariusmatei31@gmail.com
	name = Marius Matei
[core]
	excludesfile = .git/gitignore_global
    pager = delta | less --tabs=4 -RFX
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = /usr/bin/nvim
	  autocrlf = input

[delta]
    features = decorations
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[alias]
    a = "add --patch"
    c = "commit"
    co = "checkout"
    sw = "switch"
    df =  "diff --word-diff"
    st = "status -sb"
    pu = "!git fetch hub && !git rebase -p hub/master"
	hist = "log --graph --pretty=format:'[%C(red)%h%Creset]%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    week = "log --since='2 sunday ago' --until='1 sunday ago' --format='%Cgreen%ci%Creset %s%Creset' --no-merges --author mariusmatei31@gmail.com"
    graph = "git log --graph --all --decorate --stat --date=iso"
    rp = "log --since='2 days ago' --format='%Cgreen%ci%Creset %s%Creset' --no-merges --author mariusmatei31@gmail.com"
    rm = "rm $(git ls-files --deleted)"
    w = "whatchanged -p --abbrev-commit --pretty=medium --word-diff -w"
    undo = "reset --hard HEAD@{1}"
    pl = "pull --rebase"
	d = difftool
    ;c = "commit -a"
    cm = "commit -avm"
    ca = "commit -v --amend"
    rb = "rebase"
    rbi = "rebase -i"
    rbm = "rebase -i master"
    rba = "rebase --abort"
    rbc = "rebase --continue"
    m = "merge"
    merge = "merge --no-ff"
    mm = "merge master"
    a = "add"
    b = "branch"
    bd = "branch -D"
    bc = "checkout -b"
    com = "checkout master"
    p = "push origin master"
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
[difftool]
	prompt = false
[commit]
    template = ~/.commit-template.txt
[diff]
	tool = /usr/bin/meld
[status]
    showUntrackedFiles = all

[push]
	default = matching
